@using Web.Models
@model IEnumerable<Web.Models.BackLog>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
        @(BackLog.State.IsToDo)
        </th>
        <th>
            @(BackLog.State.IsDoing)
        </th>
        <th>
            @(BackLog.State.Review)
        </th>
        <th>
            @(BackLog.State.Done)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @if (item.States == BackLog.State.IsToDo)
            {
                @Html.DisplayFor(modelItem => item.Description)
            }
           
        </td>
        <td>
            @if (item.States == BackLog.State.IsDoing)
            {
                @Html.DisplayFor(modelItem => item.Description)
            }
        </td>
        <td>
            @if (item.States == BackLog.State.Review)
            {
                @Html.DisplayFor(modelItem => item.Description)
            }
        </td>
        <td>
            @if (item.States == BackLog.State.Done)
            {
                @Html.DisplayFor(modelItem => item.Description)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BackLogId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BackLogId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BackLogId })
        </td>
    </tr>
}

</table>
